---
layout: page
title: Our Team
subtitle: Feel free to contact any of us!
---


<h3 style="text-align: center">Current Coordinators (2025-26)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
      {% for member in site.team %} {% if member.batch == "Y23" %}
      <div class="col-12 col-md-6 mb-2">
        <div class="card border-0">
    <div style="height: 450px; display: flex; align-items: center; justify-content: center; background: #000;">
            {% if member.image_path %}
            <img
              loading="lazy"
              alt="{{ member.name }}"
              class="img-fluid mb-2 card-img-top"
              src="{{ site.baseurl }}{{ member.image_path }}"
              style="height: 100%; width: 100%; object-fit: cover;"
            />
            {% endif %}
          </div>
        <div class="card-body text-center" style="padding: 0px">
          <h4 class="card-title mb-0" style="padding-bottom: 10px; margin: 10px">
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch | replace: ' (AM)', '' }} {{ member.info }}</h6>
        <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a target="_blank" href="https://facebook.com/{{ member.facebook }}" title="Facebook">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://instagram.com/{{ member.insta }}" title="Instagram">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="mailto:{{ member.email }}" title="Email">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fas fa-envelope fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://github.com/{{ member.github }}" title="Github">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-github fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<br/>
<h3 style="text-align: center">Secretaries Y24 (2025-26)</h3>
<br>
<table style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%">
  <tr>
    <th style="text-align:center; color:black; background-color:white; border:1px solid black;">Sr.No</th>
    <th style="text-align:center; color:black; background-color:white; border:1px solid black;">Name</th>
    <th style="text-align:center; color:black; background-color:white; border:1px solid black;">Department</th>
    <th style="text-align:center; color:black; background-color:white; border:1px solid black;">Email</th>
  </tr>

  <tr><th style="border:1px solid black;">1.</th><td style="border:1px solid black;">Ujjwal Prakash</td><td style="border:1px solid black;">BSBE</td><td style="border:1px solid black;"><a href="mailto:ujjwal24@iitk.ac.in">ujjwal24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">2.</th><td style="border:1px solid black;">Haryashva Gupta</td><td style="border:1px solid black;">CHE</td><td style="border:1px solid black;"><a href="mailto:haryashvag24@iitk.ac.in">haryashvag24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">3.</th><td style="border:1px solid black;">Tripti Kushwaha</td><td style="border:1px solid black;">CHE</td><td style="border:1px solid black;"><a href="mailto:triptik24@iitk.ac.in">triptik24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">4.</th><td style="border:1px solid black;">Antriksh Singhal</td><td style="border:1px solid black;">BSBE</td><td style="border:1px solid black;"><a href="mailto:antrikshs24@iitk.ac.in">antrikshs24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">5.</th><td style="border:1px solid black;">Nikita Nehra</td><td style="border:1px solid black;">CHE</td><td style="border:1px solid black;"><a href="mailto:nnehra24@iitk.ac.in">nnehra24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">6.</th><td style="border:1px solid black;">A Sankara Narayanan</td><td style="border:1px solid black;">BSBE</td><td style="border:1px solid black;"><a href="mailto:asankaran24@iitk.ac.in">asankaran24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">7.</th><td style="border:1px solid black;">Harpuneet Singh</td><td style="border:1px solid black;">CSE</td><td style="border:1px solid black;"><a href="mailto:harpuneets24@iitk.ac.in">harpuneets24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">8.</th><td style="border:1px solid black;">Sunand Garg</td><td style="border:1px solid black;">AERO</td><td style="border:1px solid black;"><a href="mailto:sunandg24@iitk.ac.in">sunandg24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">9.</th><td style="border:1px solid black;">Aman Pal</td><td style="border:1px solid black;">PHY</td><td style="border:1px solid black;"><a href="mailto:amanp24@iitk.ac.in">amanp24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">10.</th><td style="border:1px solid black;">Saket Garg</td><td style="border:1px solid black;">EE</td><td style="border:1px solid black;"><a href="mailto:saketgarg24@iitk.ac.in">saketgarg24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">11.</th><td style="border:1px solid black;">Harshit Pandey</td><td style="border:1px solid black;">CHE</td><td style="border:1px solid black;"><a href="mailto:harshitp24@iitk.ac.in">harshitp24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">12.</th><td style="border:1px solid black;">Rucha Pimpalkar</td><td style="border:1px solid black;">PHY</td><td style="border:1px solid black;"><a href="mailto:ruchapi24@iitk.ac.in">ruchapi24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">13.</th><td style="border:1px solid black;">Kanishk Sharma</td><td style="border:1px solid black;">EE</td><td style="border:1px solid black;"><a href="mailto:kanishksh24@iitk.ac.in">kanishksh24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">14.</th><td style="border:1px solid black;">Mishthi Sharma</td><td style="border:1px solid black;">PHY</td><td style="border:1px solid black;"><a href="mailto:mishthis24@iitk.ac.in">mishthis24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">15.</th><td style="border:1px solid black;">Mayank Agarwal</td><td style="border:1px solid black;">MTH</td><td style="border:1px solid black;"><a href="mailto:mayankag24@iitk.ac.in">mayankag24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">16.</th><td style="border:1px solid black;">Aric Apoorv Tirkey</td><td style="border:1px solid black;">ME</td><td style="border:1px solid black;"><a href="mailto:aricapoorv24@iitk.ac.in">aricapoorv24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">17.</th><td style="border:1px solid black;">Daksh Nandan Singh</td><td style="border:1px solid black;">EE</td><td style="border:1px solid black;"><a href="mailto:dakshs24@iitk.ac.in">dakshs24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">18.</th><td style="border:1px solid black;">Mahi Mittal</td><td style="border:1px solid black;">CSE</td><td style="border:1px solid black;"><a href="mailto:mahii24@iitk.ac.in">mahii24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">19.</th><td style="border:1px solid black;">Sneha Kumari</td><td style="border:1px solid black;">CSE</td><td style="border:1px solid black;"><a href="mailto:snehak24@iitk.ac.in">snehak24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">20.</th><td style="border:1px solid black;">Preet Varu</td><td style="border:1px solid black;">AE</td><td style="border:1px solid black;"><a href="mailto:vpreet24@iitk.ac.in">vpreet24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">21.</th><td style="border:1px solid black;">Vansh Sejpal</td><td style="border:1px solid black;">CE</td><td style="border:1px solid black;"><a href="mailto:vanshs24@iitk.ac.in">vanshs24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">22.</th><td style="border:1px solid black;">Mihir Tejaswi</td><td style="border:1px solid black;">ME</td><td style="border:1px solid black;"><a href="mailto:mihirt24@iitk.ac.in">mihirt24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">23.</th><td style="border:1px solid black;">Shreshth Gupta</td><td style="border:1px solid black;">CHE</td><td style="border:1px solid black;"><a href="mailto:shreshth24@iitk.ac.in">shreshth24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">24.</th><td style="border:1px solid black;">Rushali Myageri</td><td style="border:1px solid black;">CSE</td><td style="border:1px solid black;"><a href="mailto:rushali24@iitk.ac.in">rushali24@iitk.ac.in</a></td></tr>
  <tr><th style="border:1px solid black;">25.</th><td style="border:1px solid black;">Manasvi Gangwar</td><td style="border:1px solid black;">ME</td><td style="border:1px solid black;"><a href="mailto:manasvig24@iitk.ac.in">manasvig24@iitk.ac.in</a></td></tr>

</table>


<br/>
<h3 style="text-align: center">Ex-Coordinators (2024-25)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
    {% for member in site.team %} {% if member.batch == "Y22" %}
    <div style="text-align: center" class="col-12 col-md-6 mb-2">
      <div class="card border-0">
        {% if member.image_path %}
        <img
          loading="lazy"
          alt="{{ member.name }}"
          class="img-fluid mb-2 card-img-top"
          src="{{ site.baseurl }}{{ member.image_path }}"
        />
        {% endif %}
        <div class="card-body text-center" style="padding: 0px">
          <h4
            class="card-title mb-0"
            style="padding-bottom: 10px; margin: 10px"
          >
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch }} {{ member.info }}</h6>
          <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://facebook.com/{{ member.facebook }}"
                title="Facebook"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://instagram.com/{{ member.insta }}"
                title="Instagram"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </li>
          <li class="list-inline-item">
            <a
              target="_blank"
              href="mailto:{{ member.email }}"
              title="Instagram"
            >
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fas fa-envelope fa-stack-1x"></i>
              </span>
            </a>
          </li>
        </li>
        <li class="list-inline-item">
          <a
            target="_blank"
            href="https://github.com/{{ member.github }}"
            title="Github"
          >
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fab fa-github fa-stack-1x"></i>
            </span>
          </a>
        </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
<br/>


<h3 style="text-align: center">Associate Members (2024-25)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
      {% for member in site.team %} {% if member.batch == "Y22 (AM)" %}
      <div class="col-12 col-md-6 mb-2">
        <div class="card border-0">
    <div style="height: 450px; display: flex; align-items: center; justify-content: center; background: #000;">
            {% if member.image_path %}
            <img
              loading="lazy"
              alt="{{ member.name }}"
              class="img-fluid mb-2 card-img-top"
              src="{{ site.baseurl }}{{ member.image_path }}"
              style="height: 100%; width: 100%; object-fit: cover;"
            />
            {% endif %}
          </div>
        <div class="card-body text-center" style="padding: 0px">
          <h4 class="card-title mb-0" style="padding-bottom: 10px; margin: 10px">
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch | replace: ' (AM)', '' }} {{ member.info }}</h6>
        <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a target="_blank" href="https://facebook.com/{{ member.facebook }}" title="Facebook">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://instagram.com/{{ member.insta }}" title="Instagram">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="mailto:{{ member.email }}" title="Email">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fas fa-envelope fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://github.com/{{ member.github }}" title="Github">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-github fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<h3 style="text-align: center">Ex-Coordinators (2023-24)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
    {% for member in site.team %} {% if member.batch == "Y21" %}
    <div style="text-align: center" class="col-12 col-md-6 mb-2">
      <div class="card border-0">
        {% if member.image_path %}
        <img
          loading="lazy"
          alt="{{ member.name }}"
          class="img-fluid mb-2 card-img-top"
          src="{{ site.baseurl }}{{ member.image_path }}"
        />
        {% endif %}
        <div class="card-body text-center" style="padding: 0px">
          <h4
            class="card-title mb-0"
            style="padding-bottom: 10px; margin: 10px"
          >
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch }} {{ member.info }}</h6>
          <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://facebook.com/{{ member.facebook }}"
                title="Facebook"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://instagram.com/{{ member.insta }}"
                title="Instagram"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </li>
          <li class="list-inline-item">
            <a
              target="_blank"
              href="mailto:{{ member.email }}"
              title="Instagram"
            >
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fas fa-envelope fa-stack-1x"></i>
              </span>
            </a>
          </li>
        </li>
        <li class="list-inline-item">
          <a
            target="_blank"
            href="https://github.com/{{ member.github }}"
            title="Github"
          >
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fab fa-github fa-stack-1x"></i>
            </span>
          </a>
        </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<body>

<h3 style="text-align: center">Associate Members (2023-24)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
    {% for member in site.team %} {% if member.batch == "Y21 (AM)" %}
    <div class="col-12 col-md-6 mb-2">
      <div class="card border-0">
        {% if member.image_path %}
        <img
          loading="lazy"
          alt="{{ member.name }}"
          class="img-fluid mb-2 card-img-top"
          src="{{ site.baseurl }}{{ member.image_path }}"
        />
        {% endif %}
        <div class="card-body text-center" style="padding: 0px">
          <h4
            class="card-title mb-0"
            style="padding-bottom: 10px; margin: 10px"
          >
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch }} {{ member.info }}</h6>
          <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://facebook.com/{{ member.facebook }}"
                title="Facebook"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://instagram.com/{{ member.insta }}"
                title="Instagram"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </li>
          <li class="list-inline-item">
            <a
              target="_blank"
              href="mailto:{{ member.email }}"
              title="Instagram"
            >
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fas fa-envelope fa-stack-1x"></i>
              </span>
            </a>
          </li>
        </li>
        <li class="list-inline-item">
          <a
            target="_blank"
            href="https://github.com/{{ member.github }}"
            title="Github"
          >
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fab fa-github fa-stack-1x"></i>
            </span>
          </a>
        </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

</body>

<h3 style="text-align: center">Ex-Coordinators (2022-23)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
    {% for member in site.team %} {% if member.batch == "Y20" %}
    <div class="col-12 col-md-6 mb-2">
      <div class="card border-0">
        {% if member.image_path %}
        <img
          loading="lazy"
          alt="{{ member.name }}"
          class="img-fluid mb-2 card-img-top"
          src="{{ site.baseurl }}{{ member.image_path }}"
        />
        {% endif %}
        <div class="card-body text-center" style="padding: 0px">
          <h4
            class="card-title mb-0"
            style="padding-bottom: 10px; margin: 10px"
          >
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch }} {{ member.info }}</h6>
          <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://facebook.com/{{ member.facebook }}"
                title="Facebook"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://instagram.com/{{ member.insta }}"
                title="Instagram"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>


<h3 style="text-align: center">Ex-Coordinators (2021-22)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
    {% for member in site.team %} {% if member.batch == "Y19" %}
    <div class="col-12 col-md-6 mb-2">
      <div class="card border-0">
        {% if member.image_path %}
        <img
          loading="lazy"
          alt="{{ member.name }}"
          class="img-fluid mb-2 card-img-top"
          src="{{ site.baseurl }}{{ member.image_path }}"
        />
        {% endif %}
        <div class="card-body text-center" style="padding: 0px">
          <h4
            class="card-title mb-0"
            style="padding-bottom: 10px; margin: 10px"
          >
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch }} {{ member.info }}</h6>
          <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://facebook.com/{{ member.facebook }}"
                title="Facebook"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://instagram.com/{{ member.insta }}"
                title="Instagram"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<h3 style="text-align: center">Ex-Coordinators (2020-21)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
    {% for member in site.team %} {% if member.batch == "Y18" %}
    <div class="col-12 col-md-6 mb-2">
      <div class="card border-0">
        {% if member.image_path %}
        <img
          loading="lazy"
          alt="{{ member.name }}"
          class="img-fluid mb-2 card-img-top"
          src="{{ site.baseurl }}{{ member.image_path }}"
        />
        {% endif %}
        <div class="card-body text-center" style="padding: 0px">
          <h4
            class="card-title mb-0"
            style="padding-bottom: 10px; margin: 10px"
          >
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch }} {{ member.info }}</h6>
          <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://facebook.com/{{ member.facebook }}"
                title="Facebook"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://instagram.com/{{ member.insta }}"
                title="Instagram"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<h3 style="text-align: center">Ex-Coordinators (2019-20)</h3>
<br />

<div class="container pt-6 pb-6">
  <div class="row pt-6 pb-6">
    {% for member in site.team %} {% if member.batch == "Y17" %}
    <div class="col-12 col-md-6 mb-2">
      <div class="card border-0">
        {% if member.image_path %}
        <img
          loading="lazy"
          alt="{{ member.name }}"
          class="img-fluid mb-2 card-img-top"
          src="{{ site.baseurl }}{{ member.image_path }}"
        />
        {% endif %}
        <div class="card-body text-center" style="padding: 0px">
          <h4
            class="card-title mb-0"
            style="padding-bottom: 10px; margin: 10px"
          >
            {{ member.name }}
          </h4>
          <h6 class="card-text">{{ member.batch }} {{ member.info }}</h6>
          <ul class="list-inline text-center" style="margin: 0">
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://facebook.com/{{ member.facebook }}"
                title="Facebook"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                target="_blank"
                href="https://instagram.com/{{ member.insta }}"
                title="Instagram"
              >
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
